<p id="notice"><%= notice %></p>
<% provide(:side_content, 'layouts/blank')%> 
<h1>Listing Job Parts</h1>

<table>
  <thead>
    <tr>
      <th>Job</th>
      <th>Part</th>
      <th>Quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @job_parts.each do |job_part| %>
      <tr>
        <td><%= job_part.job_id %></td>
        <td><%= job_part.part_id %></td>
        <td><%= job_part.quantity %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>


