@import 'bootstrap-sprockets';
@import "bootstrap";

.information
{
	
	
}


h3
{
	font-size:120%;
}

h2
{
	font-size:130%;
}


h1
{
	font-size:140%;
}

p
{
	font-size:110%;
	

}


.information>ul>li
{
	font-size:125%;
	list-style-type:none;
	

}








	 
.top-nav
{
	background-color:#eeeeee;
	
	font-size:20px;
	
}


 .nav-tabs > li > a,
        .nav-tabs > li > a:hover,
        .nav-tabs > li > a:focus {
        
          cursor: default;
          color:#0000cc;		  
         
          }


   .nav-tabs > li.active > a,
        .nav-tabs > li.active > a:hover,
        .nav-tabs > li.active > a:focus {
        
          cursor: default;
          color:#668cff;		  
          background-color: #7a0099;
          border: 1px solid #dddddd;
          border-bottom-color: transparent;
          } 
.side-pane
{
	background-color:black;
	height:2000px;
	color:white;	
	
}

.side-nav
{
	background-color:black;


}


.side-nav>li>a>p,.side-nav>li>a>h3
{

	color:white;

}




.main-pane
{
	background-color:#c1c1c1;
	height:2000px;
	padding-left:0px;

}

.main-pane >table
{
	background-color:white;
}

.main-pane >h1
{
	color:white;
}


   .nav-pills > li.active > a,
        .nav-pills > li.active > a:hover,
        .nav-pills > li.active > a:focus {
        
          cursor: default;		  
          background-color: black;
          border: 1px solid  #7a0099;
        
          }










