@import 'bootstrap-sprockets';
@import "bootstrap";









h3
{
    font-size:20px;

}

.highlighted_text
{
    color:purple;
}

h2
{
    font-size:22px;
}


h1
{
    font-size:24px;
}

p
{
    font-size:18px;


}

span
{
    margin: 12px;
}

.invisible
{
    display:none;
}

.form-button
{
    margin:6px;
}

.top-nav-div
{
    margin-top:22px;
}
.top-nav
{
    background-color:#000080;

    font-size:18px;


}

.nav-tabs > li > a:hover
{
    cursor: default;
    color:#668cff;
}

.nav-tabs > li > a,
.nav-tabs > li > a:focus {

    cursor: default;
    color:white;
    border-bottom-color:#000080;
    font-size:18px;

}

.nav-tabs
{
    border-bottom-color:#000080;
    margin-bottom: 0px;
}


.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {

    cursor: default;
    color:white;
    background-color:purple;
    border: 1px solid  purple;
    border-bottom-color:purple;
}
.side-pane
{
    background-color:black;
    padding:10px;
    min-height:100vh;




}

.side-nav
{
    background-color:black;


}






.nav-pills > li > a,
.nav-pills > li > a:focus {

    cursor: default;
    background-color: black;
    color:white;


}

.nav-pills > li > a:hover
{
    cursor: default;
    background-color: #555555;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {

    cursor: default;
    background-color: purple;


}


.main-pane
{
    background-color:#eeeeee;

    padding-top: 10px;
    min-height:100vh;



}







table
{
    border: 1px solid  black;
}

td,th
{
    border: 1px solid  black;
    padding:2px;


}

ul
{
    list-style-type:none;

}

.search-box-div
{
    margin-left:10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 3px;
}



.search_by
{
    color:white;
}

.productImages
{
    height: 300px;
    width:300px;
}


.logo
{
    color:white;
}







