@import 'bootstrap-sprockets';
@import "bootstrap";




h3
{
	font-size:130%;
}

h2
{
	font-size:140%;
}


h1
{
	font-size:150%;
}

p
{
	font-size:120%;
	

}

	 
.top-nav
{
	background-color:#cccccc;
	
	font-size:20px;
	
}


 .nav-tabs > li > a,
        .nav-tabs > li > a:hover,
        .nav-tabs > li > a:focus {
        
          cursor: default;
          color:#0000cc;		  
         
          }


   .nav-tabs > li.active > a,
        .nav-tabs > li.active > a:hover,
        .nav-tabs > li.active > a:focus {
        
          cursor: default;
          color:#668cff;		  
          background-color: #7a0099;
          border: 1px solid #dddddd;
          border-bottom-color: transparent;
          } 
.side-pane
{
	background-color:black;
	height:2000px;
	color:white;	
	
}

.side-nav
{
	background-color:black;


}


.side-nav>li>a>p,.side-nav>li>a>h3
{

	color:white;

}




.main-pane
{
	background-color:#eeeeee;
	height:2000px;
	

}





   .nav-pills > li.active > a,
        .nav-pills > li.active > a:hover,
        .nav-pills > li.active > a:focus {
        
          cursor: default;		  
          background-color: black;
          border: 1px solid  #7a0099;
        
          }

table
{
	border: 1px solid  black;
}

td,th
{
	border: 1px solid  black;
	padding:2px;

}







