<ul class="nav nav-pills nav-stacked side-nav">

  <% @customers.each do |customer| %>
    
        <li role="presentation" class=<%= 'active' if params[:id].to_i ==customer.id %>><%= link_to raw('<h3>'+customer.name+'</h3><p>'+customer.town+'</p>'), customer %></li>
    
        <% end %>

</ul>



