<ul class="nav nav-pills nav-stacked side-nav">

  <% @invoices.each do |invoice| %>
    
        <li role="presentation" class=<%= 'active' if params[:id].to_i ==invoice.id %>><%= link_to raw('<h1>'+invoice.invoice_number+'</h1>'), invoice %></li>
    
        <% end %>

</ul>
