<% searchBoxContent="" %>
 <div class="row search-box-div">
  <div class="row">
                    <input value="searchBoxContent" onchange="" type="text"  placeholder="Search"/>
              </div>
                <div class="row">
                 <p class="search_by" >Search by..</p>
                    <select  onchange= id="sort" >
                        <option value="date">Date</option>
                        <option value="customerName">Customer Name</option>

                    </select>
                </div>
                </div>
  <div class="row">              
<ul class="nav nav-pills nav-stacked side-nav">

<%
   

            

                list=@jobs.select do|job| job.customer_product.customer.name.downcase()==searchBoxContent.downcase()
         
                 end 

       
%>
  
  <% @jobs.each do |job| %>
    
        <li role="presentation" class=<%= 'active' if params[:id].to_i ==job.id %>>
        <%= link_to raw('<h3>'+job.created_at.strftime("%d/%m/%Y")+'</h3><p>'+job.customer_product.product.manufacturer.name+' '+job.customer_product.product.description.split(',')[0]+'<br>'+job.customer_product.customer.name+'<br>'+job.customer_product.customer.town+'</p>'),job %></li>    
<% end %>
      

</ul>

</div>


