<ul class="nav nav-pills nav-stacked side-nav">
<h3><%= link_to "Create New Part", new_part_path %></h3>
  <% @parts.each do |part| %>
    
        <li role="presentation" class=<%= 'active' if params[:id].to_i ==part.id %>><%= link_to raw('<h3>'+part.part_number+'</h3><p>'+part.description+'</p>'), part %></li>
    
        <% end %>

</ul>



