

   </div>
                <div class="row">

<ul class="nav nav-pills nav-stacked side-nav">

  <% @products.each do |product| %>
    
        <li role="presentation" class=<%= 'active' if params[:id].to_i==product.id %>><%= link_to raw('<h3>'+product.manufacturer.name+' '+product.description.split(',')[0]+'</h3><p>'+product.product_number+'</p>'), product %></li>
    
        <% end %>

</ul>
</div>